%h1 約束します。
%p 忌々しい偽リンクとはおさらば出来ると。
- @videos.each do |video|
  .video_contents
    %p= link_to video.title, video_show_path(id: video.id)
    .video_img
      = image_tag video.image_url
    = video.contents
    - video.movies.each do |movie|
      .movie_img
        = image_tag movie.image_url